
main {

  * {
    animation: fadein 1s;
  }

  h1 {
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 0em;
  }

  a {
    color: #bee1ff;

    &:hover {
      color: blue;
    }
  }
}

.portfolio {
  text-align: center;


  .wrapper {
    @include tablet {

      display: inline-block;
    }
  }

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.wrapper {
  display: flex;

  .site-wrap {

    margin: 20px;

    img {
      max-width: 100%;
    }
  }



}




.bio, .blog, .portfolio {
  width: 75%;
  font-family: 'Poor Story', cursive;
  font-size: 1.4rem;
  margin-top: 80px;
  margin: 80px auto;
  background-color: #00000080;
  color: white;
  padding: 30px;
  border-radius: 25px;
}


.blog {
  text-align: center;
}

.signature {
  float:right;
}

.ps {
  clear: both;
}

.social-links {

  a {
    margin-right: 20px;


    &:nth-child(2) {

      img {
        filter: invert(95%);
      }
    }
  }

  img {
    height: 64px;
    weight: 64px;

  }

}
