
main {

  * {
    animation: fadein 1s;
  }

  h1 {
    font-family: 'Comfortaa', cursive;
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 0em;

    @include mobile {
      font-size: 1.3rem;
    }
  }

  a {
    color: #bee1ff;

    &:hover {
      color: blue;
    }
  }
}

.portfolio {
  text-align: center;


  .wrapper {
    @include tablet {

      display: inline-block;
    }
  }

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.bio, .blog, .portfolio {

  width: 75%;
  font-family: 'Poor Story', cursive;
  font-size: 1.4rem;
  margin: 115px auto;
  background-color: #0009;
  color: white;
  padding: 30px;
  border-radius: 25px;

  @include mobile {
    width: 85%;
    margin-top: 150px;
    padding: 25px;
    padding-top: 15px;
    font-size: 1.3rem;
  }

  @include tablet {
    width: 85%;

  }

  @include largeTablet {
    width: 85%;

  }
}


.blog {

  h2 {
    text-align: center;

  }
}

.signature {
  float:right;
}

.ps {
  clear: both;
}

.social-links {

  a {
    margin-right: 20px;

    @include mobile {
      margin-right: 0px;

      &:last-child img {
        width: 140px;
      }
    }


    &:nth-child(2) {

      img {
        filter: invert(95%);

      }
    }
  }

  img {
    height: 64px;
    weight: 64px;

    @include mobile {
      height: 34px;

    }

  }

}
