nav {
  font-family: 'Comfortaa', cursive;
  position: fixed;
  background: #bbb;
}

.top-left {
  box-shadow: -2px 3px 3px black;
  transform: rotate(-45deg);

  width: 350px;
  height: 350px;

  top: -175px;
  left: -175px;

  h1 {
    color: black;
    text-align: center;
    margin-top: 220px;
  }
}

.top-right {
  transform: rotate(45deg);
  width: 150px;
  height: 150px;

  top: -75px;
  right: -75px;

  box-shadow: 2px 3px 3px black;

  h2 {
    color: black;
    text-align: center;
    margin-top: 20px;
  }

}

.bottom-left {
  transform: rotate(-45deg);
  width: 150px;
  height: 150px;

  bottom: -75px;
  left: -75px;

  box-shadow: 2px 3px 3px black;

  h2 {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 90px;
    transform: rotate(90deg);
  }

}

.bottom-right {

  transform: rotate(45deg);
  width: 150px;
  height: 150px;

  bottom: -75px;
  right: -75px;

  box-shadow: -2px 3px 3px black;

  h2 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 50px;
    transform: rotate(-90deg);
  }

}
