.wrapper {
  display: flex;
  justify-content: space-evenly;

  .site-wrap {
    width: 398px;
    height: 288px;
    margin: 20px 20px 0 20px;


    a {
      position: relative;
      color: white;
      text-decoration: none;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }

    .view-site {
    background-color: #f9aff4b3;
}
    .view-source {
    background-color: #c9f9afb3;
}

    .site-preview-img {
      max-width: 100%;
      position: relative;
      top: -100%;
    }
  }
}

.see-more {
  height: 100%;
  width: 50%;
  display: inline-block;
  float: left;
}
