.portfolio {
  text-align: center;

  .wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    text-align: center;


    @include mobile {
      margin-top: 0px;
    }



    .site-wrap {
      margin: 20px 20px 20px 20px;
      width: auto;
      height: auto;

      @include smallScreen {
        width: 300px;
        height: 155px;
      }

      @include largeTablet {
        width: 600px;
        height: 312px;
      }

      @include tablet {
        width: 400px;
        height: 208px;
        margin: 40px 0px 0px 0px;

      }

      @include mobile {
        margin: 40px 0px 0px 0px;
        width: 200px;
        height: 104px;
      }




      .description {
        position: absolute;
        background-color:rgba(0, 0, 0, 0.6);
        width: 400px;
        height: 225px;
        opacity: 0;
        transition: .5s ease;
        border: 1px solid black;
        z-index: -1;

        p {
          padding: 0 0.5em;
        }

        @include smallScreen {
          width: 300px;
          height: 170px;
        }

        @include largeTablet {
          width: 600px;
          height: 339px;
        }

        @include tablet {
          width: 400px;
          height: 225px;
          font-size: 1em;
        }

        @include mobile {
          width: 200px;
          height: 114px;
          font-size: 0.65em;

        }
      }

      .site-img {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 3px;
        border: 1px solid black;

      }
    }
  }

  @include hoverAnimation {
    .site-wrap:hover .description, .site-wrap:active .description  {
      opacity: 1;
      z-index: 1;
    }
    .site-wrap:hover .description, .site-wrap:active .description{
      border: 1px solid white;
    }

  }

 // Applied to .description by JS
  #show-description  {
    opacity: 1;
    border: 1px solid white;
    z-index: 1;
  }

}
